<a href="https://colab.research.google.com/github/wisnubadrani/MSIB-Orbit-Ai4Jobs/blob/main/Latihan_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Encapsukation
class mobil:
  def __init__(self,tipe,plat,tahun):
    self.tipe = tipe
    self.plat = plat
    self.tahun = tahun

  def tes(self):
    print(self.tipe)
  def set (self,tipe,plat,tahun):
    self.tipe = tipe
    self.plat = plat
    self.tahun = tahun
  def roda(self):
    print("Mobil beroda empat")
  def bahan_bakar(self):
    print("Mobil menggunakan bensin ")
  def alat_kemudi(self):
    print("Menggunakan Stir")

In [ ]:
class mobil:
  tipe = ''
  tahun = ''
  plat = ''

  def roda(self):
    print("Mobil beroda empat")
  def bahan_bakar(self):
    print("Mobil menggunakan bensin ")
  def alat_kemudi(self):
    print("Menggunakan Stir")

In [ ]:
bmw = mobil() #bikin objek

In [ ]:
#bikin objek sekaligus

toyota = mobil("hilux", "d123asd", 2020)

In [ ]:
toyota.roda()

Mobil beroda empat

In [ ]:
bmw.tipe = 'sClass'
bmw.plat = 'D157ASD'
bmw.tahun = '2017'

In [ ]:
print("tipe Mobil adalah",{bmw.tipe},"\n", "dengan plat no", {bmw.plat},"dan tahun rakit",{bmw.tahun})

tipe Mobil adalah {'sClass'}
 dengan plat no {'D157ASD'} dan tahun rakit {'2017'}

In [ ]:
#update
print(bmw.tipe)

bmw.tipe = "dClass"
print(bmw.tipe)

sClass
dClass

In [ ]:
#Panggil behavior
bmw.roda()
bmw.bahan_bakar()

Mobil beroda empat
Mobil menggunakan bensin

In [ ]:
#Inhertance
#Parent Class
class orang:
  nama = ''
  umur = ''
  jk = ''

  def get_info(self):
    return self.nama, self.umur, self.jk

#child class
class murid(orang):
  kelas = ''

  def input_kelas(self,kelas):
    return kelas

class guru(orang):
  mapel = ''

  def input_mapel(self,mapel):
    return mapel

In [ ]:
alex = murid()
alex.nama = 'Alex'
alex.umur = 17
alex.jk = "Laki - laki"
alex.kelas = "5B"

In [ ]:
print(alex.get_info())

('Alex', 17, 'Laki - laki')